{
	"prefix": "|",
	"name": "Bipolar",
	"corpusDir": "./corpus",
	"embedColor": "#9A5898",

	"channels": {
		"your server here - #general": "CHANNEL ID HERE",
    "names here can be whatever you want": "123456789012345678"
	},

	"nicknames": {
		"server": ["SERVER ID HERE", "Coolest bot ever"]
	},

	"users": {
		"User that Bipolar will log and imitate": "USER ID HERE",
		"garlicOS": "098765432109876543",
	},

	"admins": {
		"You": "PUT YOUR USER ID HERE",
    "Your trustworthy friend": "777777777777777777"
	},

	"banned": {
    "Users here can't interact with Bipolar": "USER ID HERE",
		"bad guy": "000000000000000000"
	}
}
